<div class="modal-content">
<div class="modal-header">
  <h3 class="modal-title">Install the Coupon Printer</h3>
</div>
<div class="modal-body">
    <b>Print coupons in 3 easy steps</b> <br />
    <b>Step 1</b>: Click a link below to download the coupon printer plug-in. <br />
<div class="row">
  <div class="col-md-6"><a href="http://cdn.coupons.com/ftp.coupons.com/partners/CouponPrinter.exe">Windows download</a></div>
  <div class="col-md-6"><a href="http://cdn.coupons.com/ftp.coupons.com/safari/MacCouponPrinterWS.dmg">Mac OS download</a></div>
</div>
    <b>Step 2</b>: Follow your computer prompts to complete installation of the coupon printer on your computer.  <br />
    <b>Step 3</b>: Print your coupons. <br />
  <ul>   
    <li><b>Notice: </b>
  Coupon printing is not supported on Linux, Chromium, Windows 98/ME, Windows 8 Metro mode, WebTV, or virtual computing environments such as VMWare.</li>
  </ul>
  <br />
  <div>Having trouble with coupon printing? <a href="https://gsn.github.io/gcprinter/help.html" target="_blank">https://gsn.github.io/gcprinter/example/help.html</a></div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" data-ng-click="closeModal()">Close</button>
</div>
</div>
