<div class="modal-header">
  <h3 class="modal-title">Install the Coupon Printer</h3>
</div>
<div class="modal-body">
  <br />
    <b>Print coupons in 3 easy steps</b> <br />
    <b>Step 1</b>: Click a link below to download the coupon printer. <br />
	<a href="http://cdn.coupons.com/ftp.coupons.com/partners/CouponPrinter.exe" data-ng-show="navigator.platform.indexOf('Win') > -1">Windows plug-in download</a>
	<a href="http://cdn.coupons.com/ftp.coupons.com/safari/MacCouponPrinterWS.dmg"  data-ng-show="navigator.platform.indexOf('Win') < 0">Mac OS plug-in download</a> <br />
    <b>Step 2</b>: Follow your computer prompts to complete installation of the coupon printer on your computer.  <br />
    <b>Step 3</b>: Print your coupons. <br />
  <br />  
  <br />
  <ul>   
    <li><b>Notice: </b> Chrome v42 users should read this <a href=""http://help.coupons.com/articles/398-How-do-I-enable-the-Coupon-Printer-on-Chrome-v42-on-Windows">http://help.coupons.com/articles/398-How-do-I-enable-the-Coupon-Printer-on-Chrome-v42-on-Windows</a></li>
    <li><b>Notice: </b>
  Coupon printing is not supported on Linux, Chromium, Windows 98/ME, Windows 8 Metro mode, WebTV, or virtual computing environments such as VMWare.</li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-default" data-ng-click="closeModal()">Close</button>
</div>
