<div class="modal-content">
<div class="modal-header">
  <h3 class="modal-title">Unsupported Printer</h3>
</div>
<div class="modal-body">
    It appear that your default printer is not supported by the coupon printer plug-in.
	Please check your printer setting and set a different default printer.<br />
  <ul>   
    <li><b>Notice: </b>
  Coupon printing is not supported on Linux, Chromium, Windows 98/ME, Windows 8 Metro mode, WebTV, or virtual computing environments such as VMWare.</li>
  </ul>
  <br />
  <div>Having trouble with coupon printing? <a href="https://gsn.github.io/gcprinter/example/help.html" target="_blank">https://gsn.github.io/gcprinter/example/help.html</a></div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="closeModal()">Close</button>  
</div>
</div>