<div class="modal-content">
<div class="modal-header">
  <h3 class="modal-title">Plug-in Blocked</h3>
</div>
<div class="modal-body">
    To print coupons please approve the coupon printer plug-in. <br/>
  <br />
  <div>Having trouble with coupon printing? <a href="https://gsn.github.io/gcprinter/example/help.html" target="_blank">https://gsn.github.io/gcprinter/example/help.html</a></div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="closeModal()">Close</button>  
</div>
</div>